<!DOCTYPE html>
<head>
    <meta charset="utf-8">
  
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  
    <!-- google api -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- stylesheet -->
    <link rel="stylesheet" href="style.css">
  </head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="application.html">Application</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">About Us</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="row" id="row1">
    <div class="col-md-6">
        <h1>
            Roland
        </h1>
        <p>I also recently just got into hackathons as well! I enjoy just making anything in general, from graphic design to coding projects. I also enjoy learning new things and drinking chocolate milk! </p>
      </div>
      <div class="col-md-6">
        <h1>
            Ahaan
        </h1>
        <p> I just recently got into hackathons and I am having a blast! I love to code, and I feel that I am constantly learning more about coding by participating in hackathons. This website has definitely been one of our best hacks yet!</p>
      </div>
  </div>
  <div class="row" id="row1">
    <div class="col-md-6">
        <h1>
           Eric
        </h1>
      </div>
      <div class="col-md-6">
        <h1>
            Aryan
        </h1>
        <p>I love programming, and always enjoy learning new languages. I like web development, especially working on the front end, because it allows me to be creative. </p>
      </div>
</div>

  </div>
</body>