<!DOCTYPE html>
<head>
    <meta charset="utf-8">
  
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  
    <!-- google api -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- stylesheet -->
    <link rel="stylesheet" href="styles/style.css">
  </head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="index">Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="index">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="application">Application</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">About Us</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="row no-gutters">
    <div class="col-md-6 ">
        <div id="profile1" class="row no-gutters">
            <div class="col-md-7">
                <h3>Roland</h3>
                <div class="description">
                    <p>I also recently just got into hackathons as well! I enjoy just making 
                      anything in general, from graphic design to coding projects. I also enjoy 
                      learning new things and drinking chocolate milk! 
                    </p>
                </div>
            </div>
            <div class="col-md-5">
                <img id="pfp1" src="../img/BackLogo.jpeg" class="rounded-circle" alt="Profile1">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div id="profile2" class="row no-gutters">
            <div class="col-md-7">
                <h3>Ahaan</h3>
                <div class="description">
                    <p> I just recently got into hackathons and I am having a blast! 
                      I love to code, and I feel that I am constantly learning more about 
                      coding by participating in hackathons. This website has definitely been 
                      one of our best hacks yet!
                    </p>
                </div>
            </div>
            <div class="col-md-5">
                <img id="pfp2" src="../img/BackLogo.jpeg" class="rounded-circle" alt="Profile1">
            </div>
        </div>
    </div>
</div>



<div class="row no-gutters">
    <div class="col-md-6">
        <div id="profile3" class="row no-gutters">
            <div class="col-md-7">
                <h3>Eric</h3>
                <div class="description">
                    <p>I enjoy participating in hackathons because it allows me to learn new topics
                      and languages. The Natural Language Processing theme is especially interesting
                      because it has so many real world applications. I will definitely use this website
                      for my own classes!
                    </p>
                </div>
            </div>
            <div class="col-md-5">
                <img id="pfp3" src="../img/BackLogo.jpeg" class="rounded-circle" alt="Profile1">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div id="profile4" class="row no-gutters">
            <div class="col-md-7">
                <h3>Aryan</h3>
                <div class="description">
                    <p>I love programming, and always enjoy learning new languages. 
                      I like web development, especially working on the front end, because it 
                      allows me to be creative. 
                    </p>
                </div>
            </div>
            <div class="col-md-5">
                <img id="pfp4" src="../img/BackLogo.jpeg" class="rounded-circle" alt="Profile1">
            </div>
        </div>
    </div>
</div>


</body>
</html>