<!DOCTYPE html>
<html class="text-center">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>professorAI</title>
    <link rel="stylesheet" href="/assetsapplication/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assetsapplication/css/Inter.css">
    <link rel="stylesheet" href="/assetsapplication/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/assetsapplication/css/Footer-Dark.css">
    <link rel="stylesheet" href="/assetsapplication/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="/assetsapplication/css/styles.css">
</head>

<body class="text-left">
    <nav class="navbar navbar-light navbar-expand-md shadow flex-grow-1 justify-content-between navigation-clean-search">
        <div class="container"><img class="img-fluid" src="/assetsapplication/img/professorailogonocolorBLACK.png" width="25%"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav flex-grow-1 justify-content-start">
                    <li class="nav-item" role="presentation"><a class="nav-link" id="navitem" href="index" style="color: rgb(0,0,0);">Home</a></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" id="navitem" href="about" style="color: rgb(0,0,0);">About Us</a></li>
                </ul><a class="btn btn-primary border rounded action-button" role="button" href="ask" style="filter: brightness(100%) saturate(100%);">Ask The Professor</a></div>
                </ul><a class="btn btn-primary border rounded action-button" role="button" href="application" style="filter: brightness(100%) saturate(100%);">Get Notes</a></div>
        </div>
    </nav>
    <section>
        <div class="container">
            <div class="row" id="doublemargin">
                <div class="col">
                    <div>
                        <ul class="nav nav-tabs">
                            <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-1">MP4</a></li>
                            <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-2">MP3</a></li>
                            <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-3">Image</a></li>
                            <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="tab" href="#tab-4">YouTube Link</a></li>
                            <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-5">Keywords</a></li>
                            <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-6">TXT</a></li>
                            <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-7">Plaintext</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane text-center" role="tabpanel" id="tab-1">
                                <h1 class="small-margin" style="margin-bottom: 1rem;">Please upload a .mp4 video file below</h1>
                                <form method="POST" action="/uploadMP4" enctype="multipart/form-data" target="transcript-text">
                                  <input type="file" id="mp4" name="mp4" class="form-margin" style="font-family: 'Inter';">
                                  <input class="btn btn-primary" type="submit" style="font-family: 'Inter';margin-left: 1rem;" value="Upload">
                                </form>
                                <p style="margin-top: 1rem;">Note: Larger files may take longer to analyze</p>
                            </div>
                            <div class="tab-pane text-center" role="tabpanel" id="tab-2">
                                <h1 class="small-margin" style="margin-bottom: 1rem;">Please upload a .mp3 audio file below</h1>
                                <form method="POST" action="/uploadMP3" enctype="multipart/form-data" target="transcript-text">
                                  <input type="file" id="mp3" name="mp3" class="form-margin" style="font-family: 'Inter';">
                                  <input class="btn btn-primary" type="submit" style="font-family: 'Inter';margin-left: 1rem;" value="Upload">
                                </form>
                                <p style="margin-top: 1rem;">Note: Larger files may take longer to analyze</p>
                            </div>
                            <div class="tab-pane text-center" role="tabpanel" id="tab-3">
                                <h1 class="small-margin" style="margin-bottom: 1rem;">Please upload a .png/.jpeg./jpg/.heic image file below</h1>
                                <form method="POST" action="/uploadImage" enctype="multipart/form-data" target="transcript-text">
                                  <input type="file" id="img" name="img" class="form-margin" style="font-family: 'Inter';">
                                  <input class="btn btn-primary" type="submit" style="font-family: 'Inter';margin-left: 1rem;" value="Upload">
                                </form>
                                <p style="margin-top: 1rem;">Note: Unclear files may not yield accurate results</p>
                            </div>
                            <div class="tab-pane active text-center" role="tabpanel" id="tab-4">
                                <h1 class="small-margin" style="margin-bottom: 1rem;">Please upload a valid YouTube link below</h1>
                                <form method="POST" action="/uploadYoutube" enctype="application/x-www-form-urlencoded" target="transcript-text" class="form-margin">
                                  <input id="uploadYoutube-link" name="uploadYoutube-link" class="form-control form-margin" type="text">
                                  <input class="btn btn-primary" type="submit" style="font-family: 'Inter';margin-left: 1rem;" value="Submit">
                                </form>
                                <p style="margin-top: 1rem;">Note: Longer videos and/or private videos may not yield accurate results</p>
                            </div>
                            <div class="tab-pane text-center" role="tabpanel" id="tab-5">
                                <h1 class="small-margin" style="margin-bottom: 1rem;">Please enter keywords below</h1>
                                <form method="POST" action="/uploadKeyWords" enctype="application/x-www-form-urlencoded" target="transcript-text">
                                  <input id="keyWords" name="keyWords" class="form-control form-margin" type="text" >
                                  <input type="submit" class="btn btn-primary" style="font-family: 'Inter';margin-left: 1rem;" value="Submit">
                                </form>
                                <p style="margin-top: 1rem;">Note: Separate words with commas</p>
                            </div>
                            <div class="tab-pane text-center" role="tabpanel" id="tab-6">
                                <h1 class="small-margin" style="margin-bottom: 1rem;">Please upload a .txt text file below</h1>
                                <form method="POST" action="/uploadTXT" enctype="application/x-www-form-urlencoded" target="transcript-text" class="form-margin">
                                  <input id="txt" name="txt" type="file" style="font-family: 'Inter';">
                                  <input type="submit" class="btn btn-primary" style="font-family: 'Inter';margin-left: 1rem;" value="Upload">
                                </form>
                            </div>
                            <div class="tab-pane text-center" role="tabpanel" id="tab-7">
                                <h1 class="small-margin" style="margin-bottom: 1rem;">Please paste your article in plaintext in the area below</h1>
                                <form method="POST" action="/uploadPlainText" enctype="application/x-www-form-urlencoded" target="transcript-text" class="form-margin">
                                  <textarea id="plainText" name="plainText" class="form-control form-margin">
                                  </textarea>
                                  <input type="submit" class="btn btn-primary" style="font-family: 'Inter';margin-left: 1rem;" value="Submit">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section></section>
    <section>
        <div class="container">
            <div class="row" id="doublemargin">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0">Notes</h5>
                        </div>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item holds-the-iframe" id="transcript-text" name="transcript-text">
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="doublemargin">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <form><input class="form-control" type="email" style="margin-top: 1rem;margin-bottom: 1rem;"><button class="btn btn-primary" type="button" style="font-family: 'Inter';margin-left: 1rem;">Email Your Notes</button></form>
                </div>
                <div class="col text-center d-xl-flex justify-content-xl-center align-items-xl-center"><button class="btn btn-primary text-center" type="button" style="font-family: 'Inter';">Save Results as PDF</button></div>
            </div>
            <div class="row text-center">
                <div class="col">
                    <p id="topmargin" style="font-family: 'Inter';">Please be aware that when saving your results, you must have inputted a valid file above first</p>
                </div>
            </div>
        </div>
    </section>
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row" style="margin-top: 5rem!important;">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Contact Us</h3>
                        <ul>
                            <li><a href="#">Webpage</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#"></a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Open Source</h3>
                        <ul>
                            <li><a href="#">DevPost</a></li>
                            <li><a href="#">GitHub</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>professorAI</h3>
                        <p>This project was made as apart of LingHacks3 2021 by members of the Bridgewater-Raritan High School Code Club!</p>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-university"></i></a><a href="#"><i class="icon ion-ios-heart"></i></a><a href="#"><i class="icon ion-email"></i></a><a href="#"><i class="icon ion-social-github"></i></a></div>
                </div>
                <p class="copyright"><br><strong>© professorAI 2021 BRHS CODE CLUB</strong><br></p>
            </div>
        </footer>
    </div>
    <script src="/assetsapplication/js/jquery.min.js"></script>
    <script src="/assetsapplication/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
