.text {
    padding: 3% 8%
}

#info{
    background-color: skyblue;
}



#transcript {
    padding: 1% 0%;
}
#transcript-text {
    padding: 1% 1%;
    overflow-y: scroll;
    background-color: rgb(246, 246, 246);
    height: 300px;
    width: 100%;
    border-style: ridge;

}

#classification {
    padding: 1% 0%;
}

#links {
    padding: 1% 0%;
}

#container-fluid {
    padding: 2% 8%;
}

#pills-tab-nav {
    display:table;
    width:30%;
    margin: 0;
}

#pills-tab-nav > li {
    float:none;
    display:table-cell;
    text-align:center;
}